[Unit]
Description=Keycloak for __PROJECT__
Requires=network-online.target
After=network-online.target __PROJECT__-postgres.service

[Container]
ContainerName=__PROJECT__-keycloak
Image=quay.io/keycloak/keycloak:latest
EnvironmentFile=__PROJECT_DIR__/.env
Environment=KC_DB=postgres
Environment=KC_DB_URL=jdbc:postgresql://__PROJECT__-postgres:5432/__PROJECT__
Environment=KC_HOSTNAME=localhost
PublishPort=8083:8080
Network=__PROJECT__.network

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=__PROJECT__.target
